#cards_model {
  /*   border: 1px solid red; */
  display: flex;
  justify-content: left;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  overflow: scroll;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  gap: 10px;
  padding: 10px;
  border: 1px solid rgb(53, 53, 53);
  background-color: antiquewhite;
  margin: 10% auto;
  width: 70vw;
  height: auto;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-mask-image: linear-gradient(
    to right,
    #0009,
    #000,
    #000,
    #0009
  ); /* for firefox */
  mask-image: linear-gradient(
    to right,
    #0009,
    #000,
    #000,
    #0009
  ); /* for chrome */

}

.card-container {
  border: 1px solid blue;
  border-radius: 5px;
  height: 200px;
  width: 200px;
  align-items: center;
  text-align: center;
  padding: 10px;
  position: relative;
  transition: transform 0.3s ease;
  z-index: 1;
}
.card-container::before {
  content: ""; /* Create an empty pseudoelement */
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
  z-index: -1;
}
.card-container:hover {
  transform: scale(1.1);
  z-index: 2;
  padding: 10px 10px 0px 10px;
  overflow-y: hidden;
}

#cardImgSrc {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
#cardBody {
  background-color: blueviolet;
  height: 45px;
  font-size: 16px;
}

@media (max-width: 1000px) {
  #cards_model {
    /*   border: 1px solid red; */
    gap: 10px;
    padding: 10px;
  }

  #cardBody {
    background-color: rgb(208, 172, 241);
    height: 20px;
    font-size: 14px;
  }
}
