/* src/components/CardsSection.css */
#cards-section {
  display: flex;
  width: 50%;
  height: auto;
  background-color: gray;
  margin: 10% auto; /* add here the margin top for avoid interference with the nav bar */
}
.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.box-style,
.card{
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.row div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #f4f4f4;
  width: auto;
}

.card img {
  width: 100%;
  height: auto;
}


