#cards-section {
 /*  border: 3px solid black; */
  background-color: rgb(119, 119, 118);
 /*  padding: 15px; */
  margin: 10%;
  width: 80vw;
  height: 250px;
}

#cards_model {
  /* border: 3px solid red; */
/*   background-color: beige; */
  display: flex;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.card-container {
  /* border: 3px solid blue; */
  height: 220px;
  width: 220px;
/* margin: 10px; */
  align-items: center;
  text-align: center;
}
.card-container:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

#cardImgSrc {
  width: 50%;
  height: 50%;
  /* margin: 10px; */
}
#cardBody {
  /* margin: 10px; */
  width: auto;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
div.card {
  height: 250px;
}

/*.row {
 width: 100%;
  overflow: hidden;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
    border: 10px solid black;
}

#card_model {
  width: 95%;
  height: 100%;
  margin: 0 40px;

  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

}

.box-style{
  margin: 10px;
  width: auto;
  height: auto;

}

.row div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  transition: transform 0.3s;
}



.row div:hover {
  transform: scale(1.1);
  white-space: normal;
  overflow: visible;

}

#cardImgSrc{
  width: 200px;
  height: 200px;
} */

/*@media (max-width: 2500px) {
  div {
    color: blue;
  }
  #cards-section {
    display: flex;
    width: 55%;
  }
}

 @media (max-width: 1465px) {
  div {
    color: red;
  }
  #cards-section {
    display: flex;
    width: 50%;
  }

}

@media (max-width: 1068px) {
  div {
    color: green;
  }
}*/
