.cart-container {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--clr-dark1);
    opacity: 0.9;
    width: 360px;
    position: absolute;
    right: 0;
    top: 100px;
    border-bottom-left-radius: 10px;
    color: var(--clr-light2);
    text-align: center;
    z-index: 1;
  }

  .cart-item-list {
    display: flex;
    justify-content: space-between;
    margin: 5px 20px;
  }

  .cart-item-desc {
    line-height: 30px;
    vertical-align: middle;
    width: 200px;
    overflow: auto;
    text-align: left;
  }

  .cart-item-price {
    line-height: 30px;
    vertical-align: middle;
  }

  .cartBtn {
    width: 70px;
    margin: 6px;
    padding: 2px;
    border-radius: 5px;
  }

  .buyBtn {
    background-color: lightgreen;
    border: none;
  }

  .emptyBtn, .delBtn {
    color: white;
    background-color: red;
    border: none;
  }

  .delBtn {padding: 4px; border-radius: 5px;}


  .cart-total {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid var(--clr-light1);
  }