.Footerstyle {
    color: white;

    border: 2px solid pink;
    text-align: center;
}


.footerheader {
    display: flex;
    justify-content: space-around;
}

.Footerflex {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 20vh;
}

.footerheader {
    background-color: #6452ce;
}

.footerbottom {
    background-color: #141b29;
}

.box1_footer {
    background-color: #1d2331;
    width: 100%;
    height: 100%;
}

.box2_footer {
    background-color: #1d2331;
    width: 100%;
    height: 100%;
}

.box3_footer {
    background-color: #1d2331;
    width: 100%;
    height: 100%;
}

.box4_footer {
    background-color: #1d2331;
    width: 100%;
    height: 100%;
}