.Footerstyle {
    color: white;

    border: 2px solid pink;
    text-align: center;
}


.footerheader {
    display: flex;
    justify-content: space-around;
}

.Footerflex {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 20vh;
}

.footerheader {
    background-color: var(--clr-light1);
}

.footerbottom {
    background-color: var(--clr-light2-transparent);
}

.box1_footer {
    background-color: var(--clr-dark2);
    width: 100%;
    height: 100%;
}

.box2_footer {
    background-color: var(--clr-dark2);
    width: 100%;
    height: 100%;
}

.box3_footer {
    background-color: var(--clr-dark2);
    width: 100%;
    height: 100%;
}