* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 1.6rem;
}

:root {
  font-size: 62.5%;

  --clr-dark1: rgb(34, 40, 49);
  --clr-dark1-transparent: rgba(34, 40, 49, 0.5);

  --clr-dark2: rgb(49, 54, 63);
  --clr-dark2-transparent: rgba(49, 54, 63, 0.5);

  --clr-light1: rgb(118, 171, 174);
  --clr-light1-transparent: rgba(118, 171, 174, 0.5);

  --clr-light2:rgb(238, 238, 238);
  --clr-light2-transparent:rgba(238, 238, 238, 0.5);
}

html, body {
  height: 100vh; 
}

body {
  background-color: var(--clr-light2);
}

.pointer{
  cursor: pointer;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 768px) {

}
@media only screen and (max-width: 768px) {
  .login-container {top: 155px; width: 100%; border-bottom-left-radius: 0px;}
  .cart-container {top: 155px}
  .sub-headers {background-color: var(--clr-dark2); color: var(--clr-light2);}
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1024px) {

}
@media only screen and (min-width: 1300px) {
  .footer-social {justify-content: center}
}