#not-found-page {
  height: 100vh;
  background: linear-gradient(180deg, var(--clr-dark1), var(--clr-light2));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colorSchematic {
  font-size: 120px;
  /* margin: 10vh 0 0; */
  text-align: center;
  letter-spacing: 5px;
  background-color: var(--clr-dark1);
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;

  span {
    font-size: 1.2em;
  }
}

code {
  color: var(--clr-dark2);
  text-align: center;
  display: block;
  font-size: 16px;
  margin: 0 30px 25px;

  span {
    color: #f0c674;
  }

  i {
    color: #b5bd68;
  }

  em {
    color: #b294bb;
    font-style: unset;
  }

  b {
    color: #81a2be;
    font-weight: 500;
  }
}

.mt {
  margin-top: 50px;
}

.btn-back-home {
  height: 30px;
  border: 1px solid var(--clr-dark1);
  color: var(--clr-dark1);
  padding: 5px 15px;
  border-radius: 5px;
}

@media only screen and (max-width: 460px) {
  .colorSchematic {
    font-size: 80px;
  }
  .code {
    font-size: 12px;
  }
}
