#products-preview-section {
  margin: 10vh 5% auto 5%;
  display: flex;
  flex-direction: column;
}
#products-collection {
  padding: 15px 12px 0px;
}

#products-collection {
  gap: 5px;
}
#service-collection {
  gap: 22px;
}

#products-collection,
#service-collection {
  width: auto;
  display: flex;
}

.cards-container {
  display: flex;
  overflow: hidden;
  height: 250px;
  width: 100%;
  padding: 1rem;
  justify-content: center;
  align-content: center;
}

#service-collection {
  height: 115px;
  flex-direction: row;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  justify-content: left;
}

#products-collection::-webkit-scrollbar,
#service-collection::-webkit-scrollbar {
  height: 12px;
}

#products-collection::-webkit-scrollbar-thumb,
#service-collection::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    rgb(94, 136, 138),
    rgb(118, 171, 174, 0.5),
    rgba(94, 136, 138)
  );
  border-radius: 5px;
}

.carrousell {
  height: 200px;
  width: 200px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-content: center;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  margin: 5px 0px;
  transition: transform 0.3s ease;
  transition: margin 0.3s ease;
  margin: 0px 10px;
}

.service-container {
  height: 80px;
  width: 190px;
  margin: auto;
}

.carrousell,
.service-container {
  border-radius: 5px;
  background: var(--clr-light1);
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  transition: transform 0.3s ease;
  color: rgb(34, 40, 49);
  box-shadow: 2px 2px 5px rgba(34, 40, 49, 0.9);
  overflow: hidden;
}

.carrousell:hover,
.service-container:hover {
  transform: scale(1.1);
}

#cardImgSrc {
  height: 12rem;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.imgBoxContainer {
  padding: 0px 5px;
  overflow: hidden;
  width: 190px;
}
#serviceBody {
  padding: auto;
}
.card-img-top {
  margin-bottom: 5px;
}
.hidden {
  display: none;
  margin: 10px;
}
.toShow {
  display: block;
  object-fit: cover;
}

.cardPrice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
}
.cardPrice > span {
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

#cardBody {
  height: 18px;
  font-size: 16px;
  margin: 0px;
}

#collections-container {
  display: flex;
  overflow-x: hidden;
  min-width: 100%;
}

#card-title {
  height: 20px;
}

.card {
  height: 190px;
}

.cardPrice > div {
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  width: 110px;
  margin: auto;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: center;
  align-items: end;
}

.cardPrice > div > span{
  height: 15px;
}

.card-text{
  font-size: 12px;
  padding-left: 2px;
}

/* /////////////////////Responsivness //////////////////////*/
@media (max-width: 768px) {
  .card-title {
    font-size: 15px;
  }
}

@media (max-width: 468px) {
  .card-title {
    font-size: 14px;
  }
  .carrousell,
  .card,
  #cardBody {
    height: 20px;
  }
  .service-container {
    padding: 5px;
    width: 150px;
  }
  .service-container .cardNmePrice,
  .service-container .card {
    width: 140px;
    margin: 0px;
  }
  .service-container #card-title {
    margin: 5px;
  }
  #products-collection {
    height: 200px;
    margin: 5px;
  }
  .carrousell {
    height: 170px;
    width: 150px;
  }
  .imgBoxContainer {
    width: 180px;
  }

  #cardImgSrc {
    height: 90px;
    width: 140px;
  }
  .carrousell .card #cardBody {
    width: 140px;
    margin: 0px;
  }
  .card {
    width: 140px;
  }
}
