.product {
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  width: 80%;
  margin: 20px;
  padding: 20px;
  background: rgb(118, 171, 174);
}

.product_section {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  width: 100%;
  height: 400px;
  background: rgb(118, 171, 174);
  border-radius: 5px;
}

#product-title {
  margin: 10px;
  padding: 10px;
  background: rgb(118, 171, 174);
  color: rgb(34, 40, 49);
  transition: transform 0.3s ease;
  width: 100%;
  text-align: center;
  font-size: 50px;
}

#product_description {
  border-radius: 5px;
  margin: 50px 10% 100px 10%;
}

.imgcontainer {
  width: 80%;
  margin: 20px;
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(34, 40, 49, 0.5);
}

#button_container {
  display: flex;
}

#button_container,
#product_description > div {
  border: 1px solid rgb(34, 40, 49);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(34, 40, 49, 0.5);
  margin: 10px;
}
#comments-section,
#buy_section {
  background: rgb(118, 171, 174);
  height: 100px;
  padding: 20px 100px;
}
#buy_section {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.buyIcon {
  font-size: 6rem;
  margin: 10px;
  color: rgb(34, 40, 49);
  height: 46px;
}
#bankIcon,
#sepaIcon {
  background-color: rgb(34, 40, 49);
  color: rgb(118, 171, 174);
  border-radius: 5px;
  margin: 10px;
  padding: 3px;
}

#button_container {
  background: rgb(118, 171, 174);
}

button {
  margin: 20px;
  border: none;
  background: rgb(118, 171, 174);
  color: rgb(34, 40, 49);
}

#arrowIcon {
  font-size: 50px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.viewMoreButton,
button,
.buyIcon {
  transition: transform 0.3s ease;
}
.viewMoreButton:hover,
.buyIcon:hover,
button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

button a {
  color: rgb(34, 40, 49);
  text-decoration: none;
}

#comments-section {
  padding: 20px;
}

.viewMoreButton {
  padding: 0px 3px;
  margin: 0px 10px;
  font-size: 12px;
  text-align: center;
  border: none;
  box-shadow: none;
  font-weight: bold;
}
