.needflexin {
    display: flex;
}

.boxes {
    width: 250px;
    height: 250px;
    background-color: lime;
    margin: 6px;
    display: flex;
}

/* Left Bar of the Products Page with the Filter Options */
.ProductsPage_Filter {
    width: 20vw;
    height: 80vh;
    background-color: var(--clr-light2);
    padding: 2rem;
}

.testingbox02 {
    display: flex;
    flex-direction: column;
}


.testingbox04 {
    width: 80vw;
    height: 80vh;
    background-color: var(--clr-dark1);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow: auto;
    justify-content: center;
}