#products-preview-section {
  margin: 10vh 5% auto 5%;
  display: flex;
  flex-direction: column;
}
#products-collection,
#service-collection {
  display: grid;
  gap: 24px;
}

#products-collection {
  grid-template-columns: repeat(7, 1fr);
  display: flex;
}

.cards-container {
  display: flex;
  overflow: hidden;
  height: 250px;
  width: 100%;
  padding: 1rem 0rem;
  justify-content: center;
  align-content: center;
}

#service-collection {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  overflow: hidden;
  height: 110px;
  display: flexbox;
}

#products-collection::-webkit-scrollbar,
#service-collection::-webkit-scrollbar {
  height: 12px;
}

#products-collection::-webkit-scrollbar-thumb,
#service-collection::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    rgb(94, 136, 138),
    rgb(118, 171, 174, 0.5),
    rgba(94, 136, 138)
  );
  border-radius: 5px;
}

.carrousell {
  height: 200px;
  width: 200px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-content: center;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  margin: 5px 20px;
  transition: transform 0.3s ease;
  transition: margin 0.3s ease;
}

.service-container {
  height: 80px;
  width: 190px;
  margin: auto;
}

.carrousell,
.service-container {
  /* border: 1px solid rgb(49, 54, 63); */
  border-radius: 5px;
  background: var(--clr-light1);
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  transition: transform 0.3s ease;
  color: rgb(34, 40, 49);
  box-shadow: 2px 2px 5px rgba(34, 40, 49, 0.9);
  overflow: hidden;
}

.carrousell:hover,
.service-container:hover {
  transform: scale(1.1);
}

#cardImgSrc {
  height: 12rem;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.imgBoxContainer {
  padding: 0px 10px;
  overflow: hidden;
  width: 20rem;
}
#serviceBody {
  padding: auto;
}
.hidden {
  display: none;
  margin: 10px;
}
.toShow {
  display: block;
  object-fit: cover;
}

.cardPrice {
  height: 10px;
  display: flex;
  justify-content: space-around;
  margin: 0px 15px;
}
.cardPrice > span {
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
}

#cardBody {
  height: 40px;
  font-size: 16px;
  margin-top: 0px;
}

#collections-container {
  display: flex;
  overflow-x: hidden;
  min-width: 100%;
}

#card-title {
  height: 30px;
  margin: 5px 15px;
}
/* /////////////////////Responsivness //////////////////////*/

@media (min-width: 1600px) {
  #service-collection {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: 2200px) {
  #service-collection,
  #products-collection {
    overflow: scroll;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
  }
  #products-collection {
    justify-content: left;
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
}

@media (max-width: 1024px) {
  #service-collection {
    height: calc(100px * 2);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  #products-collection{
/* background-color: red; */
width: auto;
  }
}

@media (max-width: 992px) {
  #service-collection {
    width: auto;
    height: calc(100px * 2);
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .service-container {
    height: 60px;
    width: 95%;
    padding-top: 5px;
  }

  #service-collection {
    height: calc(40px * 2);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  #card-title {
    height: 30px;
  }
}

@media (max-width: 468px) {
  .service-container {
    width: auto;
    padding-top: 5px;
  }
  #serviceBody.card {
    display: flex;
  }
  .card-title {
    font-size: 14px;
  }
  .card-text {
    font-size: 12px;
  }
  .carrousell {
    /* height: 200px; */
    width: 150px;
    /* display: flex;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    margin: 5px 20px;
    transition: transform 0.3s ease;
    transition: margin 0.3s ease; */
  }
}
