.product {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 20px 20px 20px 0px;
  width: 100%;
  padding: 10px;
}

.product_section {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  width: 100%;
}

#product-title {
  margin: 10px;
  padding: 0px 10px;
  color: rgb(34, 40, 49);
  transition: transform 0.3s ease;
  font-size: 4rem;
  display: flex;
  align-items: center;
}

.p-height:first-of-type {
  margin-bottom: 15px;
}

#product_description {
  background: linear-gradient(180deg, var(--clr-dark1), var(--clr-light2));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 100px 0;
  flex-grow: 1;
}

.product-main, 
#comments-section, 
#buy_section, 
.button_container {
  width: 80%;
  max-width: 1000px;
  background-color: var(--clr-light1);
}

.imgContainer {
  margin: 20px;
  max-height:360px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(34, 40, 49, 0.5);
}

.button_container {
  display: flex;
}

.add-to-crt,
.button_container,
#product_description > div {
  border-radius: 5px;
  margin: 10px;
}

#comments-section,
#buy_section {
  padding: 20px 5vw;
}
#buy_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 
}
.buyIcon {
  font-size: 6rem;
  margin: 10px;
  height: 46px;
  border-radius: 5px;
  color: var(--clr-dark1);
  background-color: var(--clr-light1);
}

.filter-goBack-button,
.goBack-button {
  margin: 20px;
  border: none;
  background-color: var(--clr-light1);
  color: rgb(34, 40, 49);
}

#arrowIcon {
  font-size: 50px;
  border-radius: 5px;
}
#ButtonFilter-GoBack {
  background: rgba(238, 238, 238, 0.5);
  margin: 0px 20px 20px 0px;
  width: 30px;
  height: 30px;
}

.add-to-crt,
.viewMoreButton,
.goBack-button,
.filter-goBack-button {
  transition: transform 0.3s ease;
}

.add-to-crt:hover,
.viewMoreButton:hover,
.filter-goBack-button:hover,
.goBack-button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

button a {
  color: rgb(34, 40, 49);
  text-decoration: none;
}

.viewMoreButton {
  padding: 0px 3px;
  margin: 0px 10px;
  font-size: 12px;
  text-align: center;
  border: none;
  box-shadow: none;
  font-weight: bold;
}

.p-height {
  margin-left: 10px;
}

.description-box {
  margin-top: 20px;
}

.add-to-crt {
  background-color: var(--clr-dark1);
  color: var(--clr-light2);
  height: 40px;
  padding: 0px 20px;
  border: none;
}
#addItem {
  margin: 10px auto 15px 20px;
  text-align: center;
  width: 10%;
  border-radius: 5px;
}

#add-element-conatiner {
  display: flex;
}

@media (max-width: 2556px) {
  .description-box {
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .button_container {
    height: 100px;
  }
  #product-title {
    font-size: 24px;
  }
  .product_section {
    flex-direction: column;
    height: 100%;
  }

  .imgContainer {
    height: 200px;
  }
  .zoomImg {
    height: 200px;
    width: 550px;
    object-fit: cover;
  }
  .product {
    width: 90%;
    height: 100%;
    margin: 20px;
  }

  #buy_section {
    padding: 0;
  }

  .buyIcon {
    font-size: 45px;
    margin: 10px;
    color: rgb(34, 40, 49);
    height: auto;
  }
  #comments-section {
    margin: 5px;
  }
}

@media (max-width: 540px) {
  #product-title {
    font-size: 20px;
  }
  .imgContainer {
    height: 150px;
  }
  .zoomImg {
    height: 155px;
    width: 370px;
  }
  .product {
    width: 85%;
  }

  .buyIcon {
    font-size: 30px;
  }
}

@media (max-width: 420px) {
  #product-title {
    font-size: 22px;
  }
}
@media (max-width: 375px){
  #product-title {
    font-size: 18px;
  }
}


@media (max-width: 360px) {
  #product-title {
    font-size: 20px;
  }
  .filter-goBack-button {
    margin: 0px;
  }
  #arrowIcon {
    font-size: 30px;
    margin: 20px;
  }
  .zoomImg {
    width: 225px;
  }
} 
