#products-preview-section {
  margin: 5vh 5vw;
  display: flex;
  flex-direction: column;
}
#books-collection,
#service-collection {
  display: grid;
  gap: 12px;
  padding: 10px;
}

#books-collection {
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  height: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#service-collection {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  overflow: hidden;
  height: 110px;
  display: flexbox;
}

#books-collection::-webkit-scrollbar,
#service-collection::-webkit-scrollbar {
  height: 12px;
}

#books-collection::-webkit-scrollbar-thumb,
#service-collection::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    rgb(94, 136, 138),
    rgb(118, 171, 174, 0.5),
    rgba(94, 136, 138)
  );
  border-radius: 5px;
  /* border: 1px solid rgb(49, 54, 63); */
}
.card-container {
  height: 200px;
  width: 200px;
}

.service-container {
  height: 80px;
  width: 190px;
  margin: auto;
}

.card-container,
.service-container {
  /* border: 1px solid rgb(49, 54, 63); */
  border-radius: 5px;
  background: rgb(118, 171, 174);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  transition: transform 0.3s ease;
  color: rgb(34, 40, 49);
  /* box-shadow: 2px 2px 5px rgba(34, 40, 49, 0.9); */
}

.card-container:hover,
.service-container:hover {
  transform: scale(1.1);
  padding: 10px 10px 0px 10px;
  overflow-y: hidden;
}

#cardImgSrc {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

#serviceBody {
  padding: auto;
}

#cardBody {
  background-color: rgba(118, 171, 174, 0.5);
  height: auto;
  font-size: 16px;
}

@media (min-width: 1600px) {
  #service-collection {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: 2200px) {
  #service-collection,
  #books-collection {
    overflow: scroll;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
  }
  #books-collection {
    justify-content: left;
  }
}

@media (max-width: 1024px) {
  #service-collection {
    height: calc(100px * 2);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 992px) {
  #service-collection {
    overflow: hidden;
    width: auto;
    height: calc(100px * 2);
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .service-container {
    height: 60px;
    width: 95%;
    padding-top: 5px;
  }

  #service-collection {
    height: calc(78px * 2);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
CACHARRA
@media (max-width: 468px) {
  .service-container {
    width: auto;
    padding-top: 5px;
  }
  #serviceBody.card {
    display: flex;
  }
  .card-title {
    font-size: 14px;
  }
  .card-text {
    font-size: 12px;
  }
}
