#review-form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  /* padding: 20px; */
}

.input-group {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: rgb(34, 40, 49);
}

#submitButton {
  background: rgb(34, 40, 49);
  color: rgb(118, 171, 174);
  width: 15%;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
}

#submitButton:hover {
  transform: scale(1.1);
  cursor: pointer;

}

#firstFormBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

#userNameRating {
  width: 80%;
}

#userNameForm {
  width: 80%;
}
#list-title,
#comment-title{
    font-size: 2rem;
    text-align: center;
    color: rgb(34, 40, 49);
}

#review-list{
    margin: 20px;
}

#empty-list{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
    color: rgb(34, 40, 49);
}

#comment-list{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
    color: rgb(34, 40, 49);
}

#secondCommentLine{
border-bottom: 1px solid rgb(34, 40, 49);
padding-bottom: 10px;
}

#firstCommentLine{
    display: flex;
    justify-content: space-between;
}
