#review-form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.input-group {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: rgb(34, 40, 49);
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
}

#submitButton {
  background: rgb(34, 40, 49);
  color: rgb(118, 171, 174);
  width: 15%;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
}

#submitButton:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#firstFormBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

#userNameRating {
  width: 80%;
  display: flex;
}

#userNameForm {
  width: 80%;
}

#list-title,
#comment-title {
  font-size: 2rem;
  text-align: center;
  color: rgb(34, 40, 49);
}

#review-list {
  margin: 20px;
}

#empty-list {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  color: rgb(34, 40, 49);
  text-align: center;
}

#comment-list {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
  color: rgb(34, 40, 49);
}

#secondCommentLine {
  border-bottom: 1px solid rgb(34, 40, 49);
  padding-bottom: 10px;
  color: rgb(94, 93, 93);
}

#firstCommentLine {
  display: flex;
  justify-content: space-between;
  color: rgb(68, 68, 68);
}

#ratingForm {
  min-width: 110px;
  height: 40px;
  font-size: 15px;
  text-align: center;
}

#commentForm {
  color: rgb(34, 40, 49);
}

@media (max-width: 1024px) {
  #review-form {
    margin: 5px;
  }

  #comment-title {
    font-size: 3rem;
  }
  #firstFormBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  #userNameForm {
    width: 80%;
    font-size: 15px;
  }

  .input-group {
    margin: 10px 0px;
  }

  #ratingForm {
    height: 45px;
    padding: 5px;
    font-size: 15px;
    margin: 10px 0px 10px 10px;
  }
  #userNameRating {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
  }
  #submitButton {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 10px;
    justify-content: center;
    font-size: 15px;
  }
  #review-list {
    margin: 0px;
  }
  #commentForm {
    margin: 15px 0px;
    font-size: 15px;
  }
}

@media (max-width: 540px) {
  #comment-title {
    font-size: 2rem;
  }
  #userNameForm {
    width: 80%;
    font-size: 15px;
  }
  #ratingForm {
    height: 40px;
    font-size: 15px;
  }
  #submitButton {
    font-size: 15px;
  }
  #review-list {
    font-size: 15px;
  }
  #commentForm {
    font-size: 15px;
  }
}

@media (max-width: 360px) {
  #userNameForm {
    width: 75%;
  }
}
